.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: cornflowerblue;
    color: whitesmoke;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.login-btn{
    background-color: white;
    color: cornflowerblue;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.MenuDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
nav > button{
    background: none;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}